/* Thicker paths for edges (arrows) */
.flowchart .edgePaths path {
    stroke-width: 2px !important;
}

/* Hide the background of the edge label */
.flowchart.dark .edgeLabel rect,
.flowchart.dark .edgeLabel p,
.flowchart.dark .labelBkg {
    background-color: #18181b !important;
}

/* Thicker node borders (rectangles, circles, and polygons) */
.flowchart .node rect, 
.flowchart .node circle, 
.flowchart .node polygon {
    stroke-width: 2px !important;
}
