---
layout: base
---

<!-- prettier-ignore -->
<article
  class="
  prose prose-sm sm:prose-base prose-zinc dark:prose-invert mx-auto p-4 sm:py-8
  prose-headings:font-medium
  prose-p:before:content-none prose-p:after:content-none
  prose-a:font-normal
  prose-blockquote:my-0 prose-blockquote:px-4 prose-blockquote:py-px prose-blockquote:font-normal prose-blockquote:not-italic prose-blockquote:border-0 prose-blockquote:rounded-lg prose-blockquote:bg-zinc-950/5 dark:prose-blockquote:bg-white/5
  "
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <div itemprop="articleBody">{{ content }}</div>
</article>
